<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
		<logger name="jdbc.sqltiming" level="DEBUG" additivity="false">	<!-- 로컬에서 테스트시 	ERROR -->
			 <AppenderRef ref="console" />
		</logger>
		<logger name="jdbc.sqlonly" level="DEBUG" additivity="false">	<!-- 로컬에서 테스트시 	ERROR -->
			 <AppenderRef ref="console" />
		</logger>
		<logger name="jdbc.audit" level="WARN" additivity="false"> 
			 <AppenderRef ref="console" />
		</logger> 
		<logger name="jdbc.resultset" level="ERROR" additivity="false">
			 <AppenderRef ref="console" />
		</logger>
		<logger name="jdbc.resultsettable" level="DEBUG" additivity="false">	<!-- 로컬에서 테스트시 	ERROR -->
			 <AppenderRef ref="console" />
		</logger> 
        
        
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
        <Logger name="org.egovframe.rte" level="INFO" additivity="false">
		    <AppenderRef ref="console" />
		</Logger>
		
		<Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
        <!-- JMX 모니터링 로그 끄기 -->
		<Logger name="javax.management.remote.rmi" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>

		<Logger name="javax.management.mbeanserver" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>

		<Logger name="sun.rmi" level="WARN" additivity="false">
			<AppenderRef ref="console" />
		</Logger>

        <Root level="DEBUG">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
