<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
</head>
<body>

<div layout:fragment="content" class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">메뉴 관리</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">상위메뉴 목록</h6>
                </div>
                <div class="card-body" id="jstree" style="height: 588px; overflow: auto; border: 1px solid #d5d5d5;"></div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">하위메뉴 목록</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                            src="/img/undraw_posting_photo.svg" alt="...">
                    </div>
                    <p>Add some quality, svg illustrations to your project courtesy of <a
                            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                        constantly updated collection of beautiful svg images that you can use
                        completely free and without attribution!</p>
                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                        unDraw &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function getMenuList(menuId) {
	$.getJSON(
		"/system/getMenuList.json",
		function(data) {
			//메뉴 트리 생성
			$('#jstree').jstree({
				'core' : {
					'multiple' : false,
					'data' : data.menuList
				}
			});
			//지정한 메뉴 선택
			$('#jstree').bind('ready.jstree', function(e, data) {
				$('#jstree').jstree("select_node", menuId);
				$('#jstree').jstree("open_node", menuId);
			});
			
			$('#jstree').on('changed.jstree', function (e, data) {
				getMenuLow(data.instance.get_node(data.selected).id);
			});
		}
	);
}

//하위메뉴 목록 조회
function getMenuLow(pId){
	var lsMenuId = pId;
	$.ajax({
		type: "post",
		url: "/system/getMenuDetailList.json",
		shrinkToFit:true,
		data: {
			"menuId": lsMenuId
		},
		dataType: "json",
		success: function(data){
			//qcell.setData(data.menuList);
		},
		error: function(request,status,error){
			alert("에러가 발생하였습니다. 관리자에게 문의하세요.");
		}
	});
}

$(document).ready(function() {
	getMenuList("ME00000000");
});
</script>

</body>
</html>
