<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>아카이브</title>

<!-- KRDS CSS (전자정부 표준) -->
<link rel="stylesheet" type="text/css" th:href="@{/css/component/output.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/krds-local.css}">
<!-- jQuery (AJAX·ui-script 의존) -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/js/component/ui-script.js}" defer></script>
<script th:src="@{/js/arkive-common.js}" defer></script>
